<!--nav bar-->
<!--사진, 이름, 메일, SNS를 작성하는 곳-->
<!--다른 페이지로 이동할 수 있도록 하기! 나만의 앨범 같은 곳-->


<section id = "intropage" class = "">
    <h1 id = "name" class = "text-center">Benedict Cumberbatch</h1>
    <h5 class = "text-center pt-2 pb-4 kor-text">베네딕트 컴버배치</h5>
    <div class = "d-flex justify-content-center mb-4"><img id = "profile-image" src = "https://mblogthumb-phinf.pstatic.net/20150613_61/byuri_nyang_1434125990855Q3D5a_JPEG/1.jpg?type=w2"></div>
    <p class = "text-center my-1"><i class="far fa-envelope"></i> handsomeCucumber@gmail.com</p>
    <p class = "text-center my-1"><i class="fab fa-instagram"></i> SherlockHolmes</p><!--아이콘 추가하기-->
</section>
    
<!--취미를 작성하는 곳, 왼쪽에 라인 넣기.-->
<section id = "hobby" class = "d-flex align-items-center justify-content-center">
    <div class = "col-xl-9 d-flex justify-cotent-center align-items-center py-4 px-5">
        <div>
            <img id = "hobby-image" src = "http://images2.fanpop.com/image/photos/14600000/Sherlock-and-violin-The-Great-Game-sherlock-on-bbc-one-14628814-500-282.jpg"></img>
        </div>
        <div class = "d-flex flex-column justify-content-center pl-4">
            <h4 class = "kor-text">취미 | 흥미 | 인상 깊었던 말</h4>
            <p class = "pt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisi est sit amet facilisis magna etiam. Duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat. Maecenas accumsan lacus vel facilisis volutpat est. Placerat vestibulum lectus mauris ultrices eros in cursus turpis massa. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim enim. Viverra ipsum nunc aliquet bibendum enim facilisis gravida neque. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Lacus viverra vitae congue eu consequat. Lectus proin nibh nisl condimentum id venenatis a condimentum. Urna et pharetra pharetra massa.</p>
        </div>
    </div>
</section>

<!--하나씩 박스형으로-->
<section id= "experience" class = "pb-4 d-flex flex-column justify-content-center">
    <h4 class = "text-center kor-text pb-4">경력</h4>
    <div class = "d-flex justify-content-center kor-text pt-4">
        <div id = "box-1" class = "experience-box mr-3 d-flex flex-column align-items-end justify-content-end">
            <p class = "pr-2 mb-0 eng-text ">Sherlock Holmes</p><p class = "pr-2">셜록 홈즈</p>
        </div>
        <div id = "box-2" class = "experience-box mr-3 d-flex flex-column align-items-end justify-content-end">
            <p class = "pr-2 mb-0 eng-text ">Doctor Strange(2016)</p><p class = "pr-2">닥터스트레인지</p>
        </div>
        <div id = "box-3" class = "experience-box d-flex flex-column align-items-end justify-content-end">
            <p class = "pr-2">기타</p>
        </div>
    </div>
    
</section>

<footer class = "text-center"><p class = "mb-0 kor-text">2018. 07.14 @고려대학교</p><p>Ruby on Rails</p></footer>


<!--먼저 글을 넣도록 하고 다 한 사람은 뒷배경 바꿀 수 잇게
사진 넣는 방법, 글 넣는 방법. 
routes, gemfile, application.scss-->

<!--
<script>
    $('.smooth').on('click', function() {
        $.smoothScroll({
            scrollElement: $('body'),
            scrollTarget: '#' + this.id
        });
        
        return false;
    });
</script>

-->