<br>
<h1>멋쟁이사자처럼 고려대학교는 여러분을 두 팔 벌려 환영합니다!</h1>
<br>

<%# 사진 첨부는 어떻게? AWS? 우리 실력이 말이지 ㅜㅜ %>

<form action="/home/applycreate" method = "post">
<%# 이거 경로 다시 한 번 더 확인 %>
    <p>개인정보</p>
    이름 : <input type = "text" name = "name"><br>
    나이 : <input type = "text" name = "age"><br>
    전화번호 : <input type = "text" name = "phonenumber"><br>
    대학 및 학과 : <input type = "text" name = "univ"><br>
    <br>
    <br>
    <p>자기소개서</p>
    1. 멋쟁이사자처럼 고려대학교에 지원하신 이유를 적어주세요.<br>
    <input type = "text" name = "quiz1"><br>
    2. 본인을 마음껏! 표현해주세요.<br>
    <input type = "text" name = "quiz2"><br>
    3. 본인이 생각하는 혁신적인 IT 서비스는 무엇인가요?<br>
    <input type = "text" name = "quiz3"><br>
    4. 멋쟁이사자처럼에서 어떤 프로그램을 만들어보고 싶나요?<br>
    <input type = "text" name = "quiz4"><br>
    5. 멋쟁이사자처럼 활동을 한다면 어떤 점에 의의를 두고 싶나요?<br>
    <input type = "text" name = "quiz5"><br>
    6. 본인을 동물에 빗대어 표현해주세요.<br>
    <input type = "text" name = "quiz6"><br>
    <br>
    <input type = "submit" value = "지원서 제출하기">
</form>
<br>

