@import "bootstrap";
html {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 204, 89);
}

body {
    background-color: white;
    margin: 5% 5% 5% 5%; 
    box-shadow:0 0 20px rgba(0, 0, 0, 0.404);
}

//.container {
//    margin-top: 5%;
//    height: 98%;
//   width: 98%;
//    background-color : white; }

//------footer----//
.footerhr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(124, 119, 119), rgba(0, 0, 0, 0));
}

#lab_social_icon_footer a {
    color: rgb(128, 122, 122);
}